/node_modules/*
*.local
/*/pic*/*
/*/ima*/*
/*/*.so
/*/*.o
/*/main
/*/cma*/*o
/*/.idea/*
/.idea/*/*
/.idea/
/*/*.pyc*
/*/*.png
/*/*.local
/*/*/*/node_modules/*
/*/*/node_modules/*
/sapui5/resources/*
